<div>
    <p>{{test}}</p>
    <table class="col-sm-12 table table-dark">
        <thead>
            <th scope="col-3" >Name</th>
            <th scope="col-3">Surname</th>
            <th scope="col-5" >Books</th>
            <th scope="col-1">  <button routerLink="/delete-book"class=" btn btn-light"> Books Table </button></th>
        </thead>
        <tbody *ngFor="let author of authors">
            <td>
                {{author.name}}
            </td>
            <td>
                {{author.surname}}
            </td>
            <td>
                <ul *ngFor="let bookTable of author.bookTable">
                    {{bookTable.bookName}}
                </ul>
            </td>
            <td>
                <ul><button class="btn btn-danger" (click)="onDelete(author.id)"> Delete </button>&nbsp;
                <button class="btn btn-warning" (click)="onChange(author.id)"> Change </button></ul>
                <ul><button class="btn btn-success" (click)="addBook(author.id)"> Add Book </button></ul>
            </td>
        </tbody>
    </table>
    
</div>