<div class="px-4"><br>
    <form #userForm="ngForm" (ngSubmit)="onChange()" novalidate>
        
        <div class="form-group">
            <label> 
                Title:
            </label>
            <input type="text" name="bookName" class="form-control" #bookName="ngModel"
            placeholder={{title.bookName}} [(ngModel)]="bookModel.bookName" required> 
        </div>
        
        <button mat-button mat-raised-button mat-dialog-close type="submit" class="btn btn-warning" *ngIf="bookName.valid">Edit </button>
        <button mat-button mat-raised-button mat-dialog-close class="btn btn-success" >Close </button>
        
    </form> 
    <br><br>
</div>