<br>
<table class="col-10 table table-dark m-auto ">
    <thead class="text-center">
        <th scope="col-5">Tittle</th>
        <th scope="col-5">Button</th>
    </thead>
    <tbody *ngFor="let book of books">
        <td>
            {{book.id}}
            {{book.bookName}}
        </td>
        <td class="text-center">
            <ul><button class="btn color col-5" (click)="onChange(book.id)"> <h6>Edit Tittle</h6> </button>&nbsp;
            <button class="btn color col-5" (click)="onDeleteBook(book.id)"> <h6>Delete</h6> </button></ul>
        </td>
    </tbody>
</table>
<br>