<br>
<table class="col-10 table table-dark m-auto ">
    <thead class="text-center">
        <th scope="col-5">Tittle</th>
        <th scope="col-5">Button</th>
    </thead>
    <tbody *ngFor="let book of books">
        <td>
            {{book.bookName}}
        </td>
        <td class="text-center">
            <ul> 
                <button class="btn btn-warning " (click)="onChange(book.id)"> Edit Tittle </button> &nbsp;
                <button type="submit" class="bg-danger btn " (click)="onDeleteBook(book.id)">Delete </button>
        </ul>
        </td>
    </tbody>
</table>
<br>