<div>
    <p>{{test}}</p>
    <table class="col-sm-12 table table-dark">
        <thead>
            <th scope="col-3" >Name</th>
            <th scope="col-3">Surname</th>
            <th scope="col-6" >Books</th>
        </thead>
        <tbody *ngFor="let author of authors">
            <td>
                {{author.name}}
            </td>
            <td>
                {{author.surname}}
            </td>
            <td>
                <ul *ngFor="let bookTable of author.bookTable">
                    {{bookTable.bookName}}
                </ul>
            </td>
            <td>
                <button class="btn btn-danger" (click)="onDelete(author.id)"> Delete </button>
            </td>
            <td>
                <button class="btn btn-warning" (click)="onChange(author.id)"> change </button>
            </td>
        </tbody>
    </table>
    
</div>

<ol>
    <li>
      <mat-form-field>
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
  </ol>