
<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top text-light">
    <a class="navbar-brand"><h2>Logo</h2></a>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="" class="nav-link"><h2>Home</h2></a>
      </li>
      <li class="nav-item">
        <a routerLink="/show-data" class="nav-link"><h2>Liblary</h2></a>
      </li>
      <li class="nav-item">
        <a routerLink="/edit" class="nav-link"><h2>Edit</h2></a>
      </li>
      <li class="nav-item">
        <a routerLink="/add-author" class="nav-link"><h2>Add Author</h2></a>
      </li>
      <li class="nav-item">
        <a routerLink="/add-book" class="nav-link"><h2>Add Book</h2></a>
      </li>
    </ul>
  </nav>
  <br>

