
<div class="px-4"><br>
    <form #userForm="ngForm" (ngSubmit)="onBook()" novalidate>
        <div class="form-group">
            <label>
                Title:
            </label>
            <input type="text" name="bookName" class="form-control" #bookName="ngModel"
            placeholder="Title" [(ngModel)]="bookModel.bookName" required> 
        </div>
        
        <button mat-button mat-raised-button mat-dialog-close type="submit" *ngIf="bookName.valid"
         class="btn btn-primary">Add</button>
        <button mat-button mat-raised-button mat-dialog-close class="btn btn-success"> Close</button>
    </form> 
    <br><br>
</div>