
<div class="bg-dark px-4 text-light"><br>
    <form #userForm="ngForm" (ngSubmit)="onBook()" novalidate>
        <div class="form-group">
            <label>
                Author:<br> 
                <select name="id" [(ngModel)]="helpModel.id" class="btn btn-light">
                    <option value="0" >Choose Author</option>
                    <option *ngFor="let author of authors" [ngValue]="author.id"> {{author.name}} {{author.surname}}  </option>
                   
                </select>
            </label>
             <!-- <p>{{userForm.value | json}} </p> -->
        </div>
        <div class="form-group ">
            <label>
                Title:
                <input class="form-control bg-light " placeholder="Title" 
                name="bookName" [(ngModel)]="bookModel.bookName" required >
            </label>
        </div>
        
        <button
        type="submit" class="btn btn-primary" >Create
        </button>
    </form> 
    <br><br>
</div>